[submodule "openwrt/feed"]
	path = openwrt/feed
	url = git://github.com/Oryon/hnet-openwrt-feed.git
[submodule "openwrt/dist"]
	path = openwrt/dist
	url = git://nbd.name/attitude_adjustment.git
[submodule "netkit"]
	path = netkit
	url = git://github.com/fingon/netkit.git
[submodule "component/core"]
	path = component/core
	url = https://Oryon@github.com/Oryon/hnet-core.git
[submodule "component/bird"]
	path = component/bird
	url = https://Oryon@github.com/Oryon/bird-ext-lsa.git
[submodule "component/odhcp6c"]
	path = component/odhcp6c
	url = git://github.com/sbyx/odhcp6c.git
[submodule "component/dnsmasq"]
	path = component/dnsmasq
	url = git://github.com/fingon/hnet-dnsmasq.git
[submodule "component/luasocket"]
	path = component/luasocket
	url = git://github.com/fingon/luasocket.git
[submodule "ttin"]
	path = ttin
	url = git://github.com/fingon/hnet-ttin.git
[submodule "component/lualfs"]
	path = component/lualfs
	url = https://github.com/keplerproject/luafilesystem.git
[submodule "component/luamd5"]
	path = component/luamd5
	url = https://github.com/keplerproject/md5.git
[submodule "component/luavstruct"]
	path = component/luavstruct
	url = git://github.com/ToxicFrog/vstruct.git
