[submodule "openwrt/feed"]
	path = openwrt/feed
	url = git://github.com/fingon/hnet-openwrt-feed.git
[submodule "openwrt/dist"]
	path = openwrt/dist
	url = git://github.com/fingon/openwrt.git
[submodule "netkit"]
	path = netkit
	url = git://github.com/fingon/netkit.git
[submodule "component/odhcp6c"]
	path = component/odhcp6c
	url = git://github.com/sbyx/odhcp6c.git
[submodule "component/dnsmasq"]
	path = component/dnsmasq
	url = git://github.com/fingon/hnet-dnsmasq.git
[submodule "ttin"]
	path = ttin
	url = git://github.com/fingon/hnet-ttin.git
[submodule "component/hnetd"]
	path = component/hnetd
	url = git://github.com/sbyx/hnetd.git
[submodule "component/libubox"]
	path = component/libubox
	url = http://git.openwrt.org/project/libubox.git
[submodule "component/json-c"]
	path = component/json-c
	url = git://github.com/json-c/json-c.git
[submodule "component/babels"]
	path = component/babels
	url = git://git.wifi.pps.univ-paris-diderot.fr/babels
[submodule "component/ohybridproxy"]
	path = component/ohybridproxy
	url = git://github.com/sbyx/ohybridproxy.git
[submodule "component/uci"]
	path = component/uci
	url = git://nbd.name/uci.git
[submodule "component/odhcpd"]
	path = component/odhcpd
	url = git://github.com/sbyx/odhcpd.git
[submodule "component/mDNSResponder"]
	path = component/mDNSResponder
	url = git://github.com/fingon/mDNSResponder.git
[submodule "openwrt/routing"]
	path = openwrt/routing
	url = git://github.com/fingon/openwrt-routing.git
[submodule "component/minimalist-pcproxy"]
	path = component/minimalist-pcproxy
	url = https://github.com/fingon/minimalist-pcproxy.git
